.idea/
__pycache__
prof/
isla.egg-info/
.tox/
dist/
isla/scriptsizec-ll1.py
isla/testcvc5.py
isla/*.tokens
.eggs/
gen/
venv/
isla_evaluation.sqlite
.coverage
*playground*.py
docker-access-token.txt
isla_evaluation_*
src/isla_solver.egg-info/
_site/
