[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
z3-solver = "*"
orderedset = "*"
fuzzingbook = "*"
#grammargraph = {path = "./../GrammarGraph/dist/grammargraph-0.0.1.tar.gz"}
grammargraph = {editable = true, path = "./../GrammarGraph"}
graphviz = "*"
fibheap = "*"

[dev-packages]

[requires]
python_version = "3.9"
