[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
z3-solver = "*"
orderedset = "*"
fuzzingbook = "*"
grammargraph = {path = "./libs/grammargraph-0.0.1.tar.gz"}
#grammargraph = {path = "./../GrammarGraph/dist/grammargraph-0.0.1.tar.gz"}
#grammargraph = {editable = true, path = "./../GrammarGraph"}
grammar2regex = {path = "./libs/grammar2regex-0.0.1.tar.gz"}
#grammar2regex = {path = "./../SubGrammarToRegex/dist/grammar2regex-0.0.1.tar.gz"}
graphviz = "*"
fibheap = "*"
pyswip = "*"
inflection = "*"
pytest = "*"
pytest-profiling = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
