antlr4-python3-runtime>=4.10
datrie>=0.8.2
grammar_graph>=0.1.10
grammar_to_regex>=0.0.2
ijson>=3.1.4
packaging>=21.3
pathos>=0.2.9
proxyorderedset>=0.3.0
setuptools-antlr>=0.4.0
wheel>=0.37.1
z3-solver>=4.8.17.0
