# The ANTLR4 runtime *must* be pinned to 4.7.1 due to requirements by setuptools-antlr
antlr4-python3-runtime==4.7.1
datrie>=0.8.2
grammar2regex @ git+https://github.com/rindPHI/grammar2regex
grammargraph @ git+https://github.com/rindPHI/GrammarGraph
pathos>=0.2.9
proxyorderedset @ git+https://github.com/rindPHI/proxyorderedset
setuptools-antlr>=0.4.0
wheel>=0.37.1
z3-solver>=4.8.17.0
