<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/img/favicon.png" | relative_url }}">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="{{ site.title | default: site.github.repository_name }}" /></a></h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        {% if page.toc %}
        <!--<h2 id="table-of-contents"><a href="#toc">Table of Contents</a></h2>-->
        {{ page.toc }}
        {% endif %}


        <p class="view"><a href="https://github.com/rindPHI/isla">View on GitHub <small>rindphi/isla</small></a></p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>The ISLa code and its documentation are maintained by <a href="https://www.dominic-steinhoefel.de">Dominic Steinh&ouml;fel</a> at <a href="https://cispa.de/en/">CISPA</a>. ISLa is joint work with <a href="https://andreas-zeller.info/">Andreas Zeller</a>.</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="{{ '/assets/mathjax/tex-chtml.js' | append: site.github.build_revision | relative_url }}"></script>
